################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Prova01/.vs/Prova01/v16
/Prova01/Exercicio02/obj/Debug
/Prova01/Exercicio02/bin/Debug
/Prova01/Exercicio01/obj/Debug
/Prova01/Exercicio01/bin/Debug
/Prova01/Exercicio03/obj/Debug
/Prova01/Exercicio03/bin/Debug
